/node_modules
/public/storage
/public/edifiles
/storage/*.key
package-lock.json
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
#
#public/edifiles/schedule.edi
#
bitbucket-pipelines.yml
/k8s/deployment.yaml
/k8s/service.yaml
Dockerfile
.rnd
.idea
